
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #335c67;
    width: 100%;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 20px;
}

ul li {
    display: inline-block;
    padding: 15px;
}

#Projects-Bar {
  display:flex;
  background-color: #E09F3E;
  justify-content: space-between;
  align-items: center ;
  padding: 30px;
}

#Resume-Bar {
  display:flex;
  flex-direction: row-reverse;
  background-color: #9e2a2b;
  justify-content: center;
  align-items: center ;
  gap: 20%;
}

#resume-button {
  
    background-color: #E09F3E;
    color: #335c67;
    font-family: 'Varela Round', sans-serif;
    font-size: 30pt;
    border-radius: 22px;
}

#social-bar {
  display:flex;
  justify-content: center;
  align-items: center;
}

.experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height:auto;
    margin: auto;
}
.experience-block {
    text-align: center;
    margin: 20px;
}



.social-line {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 60px;
    height: 60px;
}

footer {
    background-color: #335c67;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.namelogo {
    display: flex;
    align-items: center;

}

.intro-text {
    padding: 40px;
}

.intro-bar {
  display: flex;
}

.subtitle {
    text-align: center;

}

.projects-grid {
    transition: 500ms;
    display: grid;
    margin: 20px;
    gap: 10px;
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr [sixth] 1fr [end];
    grid-template-rows: [row1] 100px [row2] 200px [row3] 200px [row3] 100px [last];
}
.project-itemA {
    
    background-image: url(/images/photos/Poster1.png);
    background-position: center;
    background-size: cover;
    grid-column-start: first;
    grid-column-end: span third;
    grid-row-start: row1;
    grid-row-end:  span row3;
    border-radius: 22px;
    transition: 500ms;
}

    
.project-itemB {
    transition: 500ms;
    background-image: url(/images/photos/cyberhazardHUD.png);
    background-position: center;
    background-size: cover;
    grid-column-start: third;
    grid-column-end: span fifth;
    grid-row-start: row1;
    grid-row-end:  span row3;
    border-radius: 22px;
}
.project-itemC {
    background-image: url(/images/photos/Impact-Episode.png);
    background-position: center;
    background-size: cover;
    grid-column-start: fifth;
    grid-column-end: span end;
    grid-row-start: row1;
    grid-row-end:  span row3;
    border-radius: 22px;  
}

.project-itemD {
    background-color: #335c67;
    grid-column-start: first;
    grid-column-end: span third;
    grid-row-start: row3;
    grid-row-end:  span last;
    border-radius: 22px;  
}

.project-itemE {
    background-color: #9e2a2b;
    grid-column-start: third;
    grid-column-end: span fifth;
    grid-row-start: row3;
    grid-row-end:  span last;
    border-radius: 22px;  
}

.project-itemF {
    background-image: url(/images/photos/Otapperscreen.png);
    background-position: center;
    background-size: cover;
    grid-column-start: fifth;
    grid-column-end: span end;
    grid-row-start: row3;
    grid-row-end:  span last;
    border-radius: 22px;  
}

.projects-grid:has(.project-itemA:hover) {
    grid-template-columns: [first] 2fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr [sixth] 1fr [end];
    grid-template-rows: [row1] 200px [row2] 200px [row3] 100px [row3] 100px [last];
}
.projects-grid:has(.project-itemB:hover) {
    grid-template-columns: [first] 1fr [second] 1fr [third] 2fr [fourth] 1fr [fifth] 1fr [sixth] 1fr [end];
    grid-template-rows: [row1] 200px [row2] 200px [row3] 100px [row3] 100px [last];
}
.projects-grid:has(.project-itemC:hover) {
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr [sixth] 2fr [end];
    grid-template-rows: [row1] 200px [row2] 200px [row3] 200px [row3] 100px [last];
}

.projects-grid:has(.project-itemD:hover) {
    grid-template-columns: [first] 2fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr [sixth] 1fr [end];
    grid-template-rows: [row1] 100px [row2] 100px [row3] 200px [row3] 200px [last];
}
.projects-grid:has(.project-itemE:hover) {
    grid-template-columns: [first] 1fr [second] 1fr [third] 2fr [fourth] 1fr [fifth] 1fr [sixth] 1fr [end];
    grid-template-rows: [row1] 100px [row2] 100px [row3] 200px [row3] 200px [last];
}
.projects-grid:has(.project-itemF:hover) {
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr [sixth] 2fr [end];
    grid-template-rows: [row1] 100px [row2] 100px [row3] 200px [row3] 200px [last];
}

video {
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    min-height: 0;
    border-radius: 22px;
    object-fit: cover;
    overflow: hidden;
}
.projects-page-grid {
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

.project-textblock {
    margin: 20px;
    align-content: center;
}

.video-wrapper {
    margin: 20px;
    min-width: 0;
    min-height: 0;
    align-content: center;
}

img.video-wrapper {
    width: 100%;
    height: auto;
    margin: 0;
}

.project-textblock.left {
    grid-column-start: 1;
    grid-column-end: 4;
}

.video-wrapper.left {
    grid-column-start: 1;
    grid-column-end: span 3;
}

.video-wrapper.right {
    grid-column-start: 4;
    grid-column-end: end;
}

.project-textblock.right {
    grid-column-start: 4;
    grid-column-end: end;

}




.projects-page-grid ul li {
    display: block;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 22pt;
}

.light-red {
    background-color: #9e2a2b;
}
.dark-red {
    background-color: #540b0e;
}

section.yellow {
    background-color: #E09F3E;
}