@import url('https://fonts.cdnfonts.com/css/direction-2');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                

a {
    text-decoration: none;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #335c67;
    width: 100%;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 20px;
}

ul li {
    display: inline-block;
    padding: 15px;
}

h1, h2{
    color: #E09F3E;
    font-family: 'Direction';
    letter-spacing: 2px;
    padding:20px;
}

h2 {
    font-size: 64pt;
    text-shadow: -16px 0px #540b0e;
    text-align: center;
    padding-top: 80px;
}


header h1 {
    font-size: 40pt;
    text-shadow: -10px 0px #540b0e;
}

h3 {
    color: #540b0e;
    font-family: 'Direction';
    letter-spacing: 2px;
    font-size: 64pt;
    padding: 20px;
    text-align: center;
}

h4 {
    color: white;
    font-family: 'Direction';
    text-shadow: -10px 0px black;
    font-size: 50pt;
    letter-spacing: 2px;
    width: 40%;
}

h4.red {
    color:#540b0e;
    text-shadow: none;
    font-size: 64pt;
}

h4.white {
    color: white;
    text-shadow: none;
    font-size: 64pt;
}

h4.yellow {
    color:#E09F3E;
    text-shadow: none;
    font-size: 64pt;
}

h4.black {
    color: black;
    text-shadow: none;
    font-size: 64pt;
}
p {
    font-family: 'Varela Round', sans-serif;
    font-size: 20pt;
}

strong {
    color: #9e2a2b;
    font-family: 'Direction';
    letter-spacing: 2px;
    font-size: 22pt;
}

#fire-image {
    width: 31%;
    height: 62%;
    padding: 10px;
}

#logo {
    padding:20px;
    height: 150px;
    width: 150px;
}

#signature-image {
    float: right;
    padding: 20px;
}

#Projects-Bar {
  display:flex;
  background-color: #E09F3E;
  justify-content: space-between;
  align-items: center ;
  padding: 30px;
}

#church-image {
    background-image: url(church.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #540b0d7e;
    background-blend-mode: multiply;

    width: 563px;
    height: 354px;
    padding: 50px;

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 40pt;
    text-decoration: none;
} 


#Resume-Bar {
  display:flex;
  flex-direction: row-reverse;
  gap: 10%;
  background-color: #9e2a2b;
  justify-content: center;
  align-items: center ;
  padding: 30px;
}

#resume-button {
  
    background-color: #E09F3E;
    color: #335c67;
    font-family: 'Varela Round', sans-serif;
    font-size: 30pt;
    border-radius: 15px;
}

#social-bar {
  display:flex;
  justify-content: center;
  align-items: center;
}

.social-line {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 60px;
    height: 60px;
}

footer {
    background-color: #335c67;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

header a {
    color: white;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    font-size: 20pt;
}

.namelogo {
    display: flex;
    align-items: center;

}

.intro-text {
    padding: 40px;
}

.intro-bar {
  display: flex;
}

.subtitle {
    text-align: center;

}

@media screen and (min-width: 300px) {
  header {
    display: block;
    padding: 0;
  }

  header ul li {
    display: block;
    border-top: 1px solid white;
  }
  #logo {
    display: none;
  }
  #fire-image {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
  }
  .intro-bar {
    display: block;
  }

  #Projects-Bar {
    display: block;
  }

  #Resume-Bar {
    display: block;
  }

  #church-image {
    margin: auto;
    display: block;
    width: 80%;
    height: auto;
  }

  h4, h4.red, h4.white, h4.yellow{
    margin: auto;
    text-align: left;
    padding-bottom: 20px;
  }

  h4.red, h4.white, h4.yellow{
    text-align: center;
    width: 80%;
    margin: auto;
  }

  #signature-image {
    float: none;
    display: block;
    margin: auto;
  }

  #resume-button {
    padding: 20px 80px;
    font-size: 24pt;
    align-self: center;
    place-self: center;
  }

  #social-bar {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  header {
    display: flex;
  }
  header ul li {
    display: inline-block;
    border-top: none;
  }
  #fire-image {
    width: 31%;
    height: 62%;
  }
  .intro-bar {
    display: flex;
  }
  #logo {
    display: none;
  }
  #Projects-Bar {
    display: flex
  }

  #Resume-Bar {
    display: flex;
    gap: 30%;
  }

  #church-image {
    margin: auto;
    display: block;
    width: 563px;
    height: 354px;
  }

  #signature-image {
    float: none;
    display: block;
    margin: auto;
  }
  #social-bar {
    display: flex;
  }

  .social-line {
    justify-content: left;
  }
  h4.red, h4.white, h4.yellow, h4.black {
    text-align: left;
    margin: 0;
    padding:0;
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  #logo {
    display: block;
  }
}