*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #335c67;
    width: 100%;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 20px;
}

ul li {
    display: inline-block;
    padding: 15px;
}

h1, h2{
    color: #E09F3E;
    font-family: 'Direction';
    letter-spacing: 2px;
    padding:20px;
}

h2 {
    font-size: 64pt;
    text-shadow: -16px 0px #540b0e;
    text-align: center;
    padding-top: 80px;
}


header h1 {
    font-size: 40pt;
    text-shadow: -10px 0px #540b0e;
}

h3 {
    color: #540b0e;
    font-family: 'Direction';
    letter-spacing: 2px;
    font-size: 64pt;
    padding: 20px;
    text-align: center;
}

h4 {
    color: white;
    font-family: 'Direction';
    text-shadow: -10px 0px black;
    font-size: 50pt;
    padding: 80px;
    letter-spacing: 2px;
    width: 55%;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 20pt;
}

strong {
    color: #9e2a2b;
    font-family: 'Direction';
    letter-spacing: 2px;
    font-size: 22pt;
}

#fire-image {
    width: 31%;
    height: 62%;
    padding: 10px;
}

#logo {
    padding:20px;
    height: 120px;
    width: 120px;
}

#signature-image {
    float: right;
}

#Projects-Bar {
  display:flex;
  background-color: #E09F3E;
  justify-content: center;
  align-items: center ;
  padding: 30px;
}

#church-image {
    background-image: url(church.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #540b0d7e;
    background-blend-mode: multiply;

    width: 563px;
    height: 354px;
    padding: 50px;

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 40pt;
    text-decoration: none;
} 

header a {
    color: white;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    font-size: 20pt;
}

.namelogo {
    display: flex;
    align-items: center;

}

.intro-text {
    padding: 40px;
}

.intro-bar {
  display: flex;
}

.subtitle {
    text-align: center;

}

@media screen and (min-width: 300px) {
  header {
    display: block;
    padding: 0;
  }

  header ul li {
    display: block;
    border-top: 1px solid white;
  }
  #logo {
    display: none;
  }
  #fire-image {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
  }
  .intro-bar {
    display: block;
  }


}

@media screen and (min-width: 992px) {
  header {
    display: flex;
  }
  header ul li {
    display: inline-block;
    border-top: none;
  }
  #fire-image {
    width: 31%;
    height: 62%;
  }
  .intro-bar {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  #logo {
    display: block;
  }
}