---
import ProjectLayout from "../layouts/ProjectLayout.astro";

---
<ProjectLayout>
    <main>
        <div id="gamePattern">
        <div id="cabinet">
            <canvas id="myCanvas" width="400" height="300"></canvas>
            <button id="runButton">Start Game</button>
            <script type="module" src="/js/game.js" is:inline></script>
        </div>
        </div>
    </main>
</ProjectLayout>