---
import ProjectLayout from '../layouts/ProjectLayout.astro';
import OverviewBar from "../components/overviewBar.astro";
import RedBarLeft from '../components/redBarLeft.astro';
import YellowBarRight from '../components/yellowBarRight.astro';
import ColumnBar from '../components/columnBar.astro';
---
<ProjectLayout>
    <main>
        <OverviewBar Title="Cyberhazard">
        <p slot="overview">Cyberhazard is the game me and the members of team DuckDuckGo created for the spartasoft September 2024 GameJam. I was a programmer and audio designer for my team</p>
        <ul slot="technologies list">
            <li><strong>Programs Used</strong></li>
            <li>-Unity</li>
            <li>-C#</li>
            <li>-FL Studio</li>
            <li>-Adobe Audition</li>
        </ul>
        <div class="video-wrapper right" slot="content">
                <video controls>
                    <source src="../src/assets/videos/Cyberhazard1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </OverviewBar>
        <RedBarLeft Title="The Player Controller">
            <div class="video-wrapper left" slot="content">
                <video controls>
                    <source src="../src/assets/videos/Cyberhazard2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div slot="text">
            <p class="white indented-text">Designing the player controller for Cyberhazard required building a zero gravity system instead of relying on standard gravity based movement. I first used basic WASD inputs, but the movement felt too rigid, so I shifted to a momentum based approach where players continue drifting after releasing a key, gradually accelerating and decelerating with a terminal velocity cap. Vertical movement uses the same system mapped to Space and Shift. I also added a rolling mechanic for reorientation, using the same method as camera rotation but mapped to Q and E for smooth zero-G control.</p>
            </div>
        </RedBarLeft>
        <YellowBarRight Title="UI Design">
            <p class="indented-text" slot="text">On this project I was in charge of designing and implementing all of the UI, but I would like to highlight the Heads Up Display (HUD). I designed the HUD with information that's useful to the player while not providing too much information, and remaining dynamic. Working with the UI gave me a better understanding of unity's canvas system and how to code with it in general. The HUD can be seen in the gameplay video above. </p>
            <img src="../src/assets/images/photos/cyberhazardHUD.png" class="video-wrapper right" alt="Cyberhazard HUD" slot="content">
        </YellowBarRight>
        <ColumnBar link="https://mannixgames.itch.io/the-last-halloween">
            <h4 class="black small centered" slot="title1">Where We Succeeded</h4>
            <p class="centered" slot="text1">This project taught me a lot about working in a team, using version control and pushing code. My team was very good at helping each other out to get the desired outcome and create the game we made.</p>
            <h4 slot="title2" class="black small centered">Where I Can Improve</h4>
            <p slot="text2" class="centered">In future projects I hope I am able to take a larger role in the team, I was relatively new to programming C# when working on the project, so I was unable to do as much as I would've liked.</p>
            <a href="https://piotrasz.itch.io/viral-aura" slot="link">
            <u class="black"> You Can Play Cyberhazard Here!</u></a>
        </ColumnBar>
    </main> 
</ProjectLayout>