---
import MannixLayout from '../layouts/MannixLayout.astro';
import NavBar from '../components/navBar.astro';
import Footer from '../components/footer.astro';
---

<MannixLayout>
    <NavBar />
    <main>
        <h3>Projects</h3>
        <div class="projects-grid">
            <a href="/TheLastHalloween" class="opacify-hover project-itemA"><p class="opacify-hover">The Last Halloween</p></a>
            <a href="/cyberhazard" class="opacify-hover project-itemB"><p class="opacify-hover">Cyber Hazard</p></a>
            <a href="/niche" class="opacify-hover project-itemC"><p class="opacify-hover">Niche</p></a>
            <a href="/thisSite" class="opacify-hover project-itemD"><p class="opacify-hover">This Site</p></a>
            <a href="/figmaDesign" class="opacify-hover project-itemE"><p class="opacify-hover">Figma Design</p></a>
            <a href="/otapper" class="opacify-hover project-itemF"><p class="opacify-hover">O'tapper</p></a>
        </div>
    </main>
    <Footer />
</MannixLayout>