---
import ProjectLayout from '../layouts/ProjectLayout.astro';
import OverviewBar from "../components/overviewBar.astro";
import RedBarLeft from '../components/redBarLeft.astro';
import YellowBarRight from '../components/yellowBarRight.astro';
import ColumnBar from '../components/columnBar.astro';
import Desktop349 from "../assets/images/photos/Desktop349.png";
import FigmaSite from "../assets/images/photos/FigmaSite.png";
---
<ProjectLayout>
    <main>
        <OverviewBar Title="This Website">
        <p slot="overview">I began working on this website as a replacement for my previous portfolio website. I had previously used adobe to make a portfolio website, but I wanted to create a more interactive and modern experience using web technologies.</p>
        <ul slot="technologies list">
            <li><strong>Programs Used</strong></li>
            <li>-Figma</li>
            <li>-HTML</li>
            <li>-CSS</li>
            <li>-JavaScript</li>
            <li>-Astro</li>
        </ul>
        <img slot="content" src={Desktop349.src} //alt="The Last Halloween Screenshot 1" class="video-wrapper right"/>
        </OverviewBar>
        <RedBarLeft Title="Design">
            <img src={FigmaSite.src} class="video-wrapper left" alt="The Last Halloween Board halfway through the delivery sprint"
            slot="content">
            <p slot="text" class="white indented-text">The concept for the overall aesthetic and design of this sate came to fruition during the first assignment of a web design class at MSU. I wanted to choose a bright color scheme and retro/comic aesthetic. I had been wanting to re-vamp my portfiolio site, and decided to use this assignment as an opportunity begin that process. I also got to work more with vectors and logo design, as both the site logo and fire frame were created by me.</p>
        </RedBarLeft>
        <YellowBarRight Title="HTML, CSS, The Whole Enchilada">
            <p class="indented-text" slot="text">While I had an introductory level knowledge of html and css before starting this project, I was able to expand my skills significantly. I learned about responsive design, semantic HTML, and advanced CSS techniques to create a visually appealing and functional website. One technique I will be using much more in the future is the css grid which is demonstrated best on the projects page</p>
            <div class="video-wrapper right centered" slot="content">
                <video controls>
                    <source src="/videos/CSSgrid.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </YellowBarRight>
        <ColumnBar link="https://mannixgames.itch.io/the-last-halloween">
            <h4 class="black small centered" slot="title1">Where I Succeeded</h4>
            <p class="centered" slot="text1">I was able to complete the site in time to be able to submit it as my portfolio for a plethora of internships</p>
            <h4 slot="title2" class="black small centered">Where I Can Improve</h4>
            <p slot="text2" class="centered">I would like to look more into web based databases and server-side scripting to enhance the functionality of my future projects, and potentially host webGL games on site rather than through itch.io</p>
        </ColumnBar>
    </main> 
</ProjectLayout>