---
import '/public/css/master.css'
import Logo from '../assets/images/photos/logo.png';
---

<header>
    <div class="namelogo">
        <img src={Logo.src} alt="Logo" id="logo">
        <a href="index.html"><h1>Mannix Gabriel Muir</h1></a>
    </div>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/arcade">Arcade</a></li>
        </ul>
    </nav>
</header>