---
import '../public/css/master.css'
import NavBar  from "../components/navBar.astro";
import Footer from "../components/footer.astro";

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="../public/css/master.css">
		<title>Mannix Gabriel Muir</title>
	</head>
	<body>
        <NavBar />
        <slot />
        <Footer />
	</body>
</html>
